// Import Bulma's core
@import "~bulma/sass/utilities/functions";

// Set your colors etc..
$primary: #FFCAB1;
$primary-invert: findColorInvert($primary);
$weight-normal: 400;

$link: #8CC084;
$link-invert: findColorInvert($link);

$title-color: $primary;
$title-weight: $weight-normal;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
